.plansza {
    margin:30px auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 550px;
    height: 444px;
    border: 2px solid #ddd;
}
	.wynik {
    text-align:center;
}
	.karta {
	width: 120px;
    height: 100px;
	border: 2px solid #ddd;
	background: #fff;
	}
	.styleKart {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
	background: #9de600 center center no-repeat;
    /*background: #9de600 url(startowy.jpg) center center no-repeat;  z obrazkiem startowym na razie go nie ma*/
}